# Ensure dockerflow_orchestrator is tracked
!dockerflow_orchestrator/
!dockerflow_orchestrator/**

# Ignore specific unwanted files inside dockerflow_orchestrator
airflow/venv/
airflow/.env
airflow/__pycache__/
airflow/*.log
airflow/*.pid
airflow/.gitignore
.env